<div id="cart">
    <div id="products">
        <!-- <div class="card">
            <div class="info">
                <div class="product-name">
                    <h1>Holaaaaa</h1>
                </div>
                <div class="product-info">
                    <span>Precio individual:</span>
                    <span>20€</span>
                    <button class="substractbtn">-</button>
                    <span>3</span>
                    <button class="addbtn">+</button>
                    <span>Total:</span>
                    <span>40€</span>
                </div>
            </div>
            <div class="img-product">
                <img src="/module/cart/view/img/general.png" alt="">
            </div>
        </div> -->
    </div>
    <div id="checkout-cart">
        <!-- <span>Total: 50€</span>
        <button id="checkout-btn">Checkout</button> -->
    </div>
</div>