<div id="login">
    <div id="options-login">
        <button id="register-option">Register</button>
        <button id="login-option">Login</button>
    </div>
    <div id="content-login">
        <form id="login-form">
            <input id="user-login" type="text" placeholder="Username">
            <p id="error-user-login" class="error"></p>
            <input id="password-login" type="password" placeholder="Password">
            <p id="error-password-login" class="error"></p>
            <button name="login-btn" type="button" id="login-btn">Login</button>
        </form>
    </div>
</div>
