<div id="register">
    <div id="options-register">
        <button id="register-option">Register</button>
        <button id="login-option">Login</button>
    </div>
    <div id="content-register">
        <form id="register-form">
            <input id="user-register" type="text" placeholder="Username">
            <p id="error-user-register" class="error"></p>
            <input id="email-register" type="email" placeholder="Email">
            <p id="error-email-register" class="error"></p>
            <input id="password-register" type="password" placeholder="Password">
            <p id="error-password-register" class="error"></p>
            <input id="confpassword-register" type="password" placeholder="Confirm Password">
            <p id="error-confpassword-register" class="error"></p>
            <button name="register-btn" type="button" id="register-btn">Register</button>
        </form>
    </div>
</div>