#main-carousel.owl-carousel {
    height: 900px;
	margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
}

#main-carousel.owl-carousel .owl-nav {
    width: 100%;
    height: 900px;
    vertical-align: middle;
}

#main-carousel.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
	/* color: rgba(0, 0, 0, 0.5); */
	font-size: 23px;
	width: 60px;
	height: 60px;
    top: 50%;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

#main-carousel.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

#main-carousel.owl-carousel .owl-prev,
#main-carousel.owl-carousel .owl-next {
	position: absolute;
	top: 0px;
	height: 60px;
	margin: auto !important;
}

#main-carousel.owl-carousel .owl-prev {
	left: 0px;
}

#main-carousel.owl-carousel .owl-next {
	right: 0px;
}

#main-carousel.owl-carousel .owl-dots {
	display: none !important;
}


#main-carousel .owl-item img {
    height: 900px;
}

#main-carousel {
    height: 900px;
    margin-bottom: 200px;
}

#secundary-carousel{
    height: 400px;
}

#secundary-carousel .owl-item img {
    height: 400px;
}

#secundary-carousel .owl-nav{
    display: none;
    visibility: hidden;
}

.plataform h1{
    position: absolute;
    top: 5%;
    left: 5%;
}

button.category {
	position: absolute;
	top: 70%;
    left: 43%;
	height: 60px;
	margin: none;
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
	/* color: rgba(0, 0, 0, 0.5); */
	font-size: 23px;
	width: 200px;
	height: 60px;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

#button.category :hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}






/* .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }


  .owl-carousel .item {
      text-align: center;
  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }

  .owl-carousel .prev-slide{
      background: red no-repeat scroll 0 0;
      left: -33px;
  }
  .owl-carousel .next-slide{
      background: red no-repeat scroll -24px 0px;
      right: -33px;
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }

  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  } */